.input {
  height: 2.8rem;
  padding: 0 1rem;

  color: #9e9e9e;
  font-family: Hind, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 100%;

  box-sizing: border-box;
  background-color: #eeeeee;
  
  border-radius: .6rem;
  outline: none;

  &:disabled {
    color: #93A3BC;
    background: #CDD4E0;
    border: none;
  }

  &:active, &:focus {
    color: #244D4D;
    border: .24rem solid #9e9e9e;
  }

  &:not([value=""]) {
    color: #244D4D;
    border: .24rem solid #9e9e9e;
  }

  &:hover {
    border: .24rem solid #9e9e9e;

    &:not([value=""]) {
      border: .24rem solid #9e9e9e;
    }
  }

  &:active:empty, &:focus:empty {
    border: .24rem solid #9e9e9e;
  }

  &:active:hover, &:focus:hover {
    border: .24rem solid #9e9e9e;
  }

  &.error {
    border: 1px solid #F44E3F !important;
  }
  &-wrapper {
    display: block;
  }

  &__error-text {
    color: #F44E3F;
    font-family: Hind, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;

    position: absolute;
    top: 100%;
  }
}
